.main-container {
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
    background: #f3f3f3;
    box-shadow: var(--box-shadow);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 5px 0 2px 0;

            .valid, .not-valid {
                font-style: italic;
            }

            .valid {
                color: #2cbc2c;
            }

            .not-valid {
                color: red;
            }
        }
    }
}

.dossier-detail-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin: 10px auto 0 auto;
}

.info-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.container, .planning-container {
    h2 {
        text-align: left;
        background: #d4e6ef;
        color: black;
        margin: 0;
        padding: 5px 20px;
        position: relative;
        font-size: 1.3em;
        text-transform: uppercase;

        &.h2-hide {
            cursor: pointer;
            transition-property: background, color;
            transition: all .5s ease-in, filter 0s;

            &:hover {
                filter: brightness(0.7) saturate(4) contrast(2);
            }
        }

        &.closed {
            background: #cfcfcf;
            color: #656565;
            text-shadow: none;
        }

        button {
            position: absolute;
            top: calc(50% - 10px);
            right: 10px;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background: white;
            margin: 0;
            padding: 0;
            color: black;

            &:hover {
                background: #62abff;
            }
        }
    }

    p {
        text-align: left;
    }

    article {
        width: 100%;
        height: fit-content;
        color: var(--color);
        background: var(--dossier-containers-color);
        border-radius: 10px;
        border: 1px solid lightgray;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        box-shadow: var(--box-shadow);

        .traitement-content {
            padding: 0 1em;
            transition: max-height .5s ease-in;
            max-height: 0;
        }

        .content {
            padding: 0 .5em;
            overflow: hidden;
            transition: max-height .5s ease-in;

            input, select {
                border-radius: 5px;
                width: fit-content;
                height: 30px;
                border: 1px solid #dcdcdc;
            }

            input {
                padding: 0 1em;
            }

            select {
                padding: 0 5px;
                height: 32px;

                optgroup {
                    color: var(--h2-main-color);
                }

                option {
                    color: black;
                }
            }

            .checkbox {
                display: flex;
                align-items: center;
            }

            article {
                margin: .5em 0;
                box-shadow: none;
            }
        }
    }

    .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: .5em 0;
    }
}

.planning-container {
    width: calc(35% - 20px);

    h2 {
        position: relative;

        .btn-map {
            position: absolute;
            right: 10px;
            margin: 0;
            padding: 0;
            background: none;
            border: none;

            &::after {
                content: attr(data-tooltip);
                position: fixed;
                bottom: auto;
                top: var(--tooltip-top, 0px);
                left: calc(var(--tooltip-left, 0px));
                transform: translate(-50%, -100%);
                background: white;
                color: black;
                padding: 5px 10px;
                border: 1px solid black;
                border-radius: 5px;
                opacity: 0;
                white-space: nowrap;
                pointer-events: none;
                z-index: 9999;
                transition: opacity 0.2s ease;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }
}

.container {
    width: 65%;

    .traitement {
        display: flex;
        flex-direction: row;
        gap: 10px;

        article {
            overflow: clip;
            margin-top: 1em;

            .detail-etat {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                padding: .2em 0;
                margin: 0;

                label {
                    width: fit-content;
                    white-space: nowrap;
                }

                input:not([type="date"]) {
                    width: 100%;
                }
            }

            .prioritaire {
                font-style: italic;
                color: red;
                gap: 5px;

                input {
                    height: auto;
                }
            }
        }
    }

    .content {
        max-height: 0;
    }
}

.show {
    transition: max-height .5s ease-in;
}

.histo-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    text-align: center;
    border: var(--button-border);

    &#commentaire-histo {
        text-align: left;
    }
}

.underline {
    text-decoration: underline;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
    padding: 0;

    .checkBtn {
        display: flex;
        align-items: center;
        margin: 2px;
        padding: .1em .3em;
        border-radius: 5px;
        gap: 5px;
        border: 1px solid lightgrey;

        label, input {
            text-align: left;
            cursor: pointer;
        }
    }

    .important {
        color: red;
        font-style: italic;
    }

    &.client {
        display: flex;
        flex-direction: column;

        label {
            width: 70px !important;
            text-align: left;
        }

        input {
            width: calc(100% - 70px) !important;
        }
    }
}

.commentaire-histo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 10px auto;

    input {
        width: calc(100% - 2em - 2px) !important;
    }
}

textarea {
    width: calc(100% - 6px);
    border: var(--button-border);
    border-radius: 5px;
}

.date-traitement {
    text-align: center;
    padding: 1em;
    border: 1px solid black;
    display: block;
    margin: 10px auto;
}

.btn-map {
    background: none !important;
    box-shadow: none !important;

    &:hover {
        background: none !important;
    }
}

@media screen and (max-width: 1280px) {
    .planning-container {
        width: calc(50% - 20px);
    }

    .container {
        width: 50%;
    }

    .prioritaire {
        flex-wrap: wrap;
        font-size: 10px;

        label {
            width: 100% !important;
            text-align: center !important;
        }
    }

    .traitement {
        flex-direction: column !important;
        gap: 0 !important;

        article {
            overflow: clip;

            &:first-child {
                margin-top: 1em;
            }

            &:last-child {
                margin-top: 0;
                margin-bottom: 1em;
            }
        }
    }
}
