.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: var(--box-shadow);

    div {
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                filter: brightness(90%);
            }
        }

        #confirm-yes {
            background: #b0f1b0;
        }

        #confirm-no {
            background: #efa6a6;
        }
    }
}
