#dossiers-container {
    margin: 0;
    padding: 0;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;

    thead {
        background: var(--horaire-background);

        th {
            padding: 5px 10px;
        }
    }

    tr {
        border-bottom: 1px solid #e5eff6;

        &:last-child {
            border-bottom: none;
        }
    }

    td {
        padding: 5px;
        text-align: center;
    }

    .adresse {
        color: grey;
        font-size: .8em;
        margin: 0;
        padding: 0 0 0 10px;
        border: none;
    }

    .highlight-tech {
        font-weight: bold;
        color: #2aca2a;
    }

    .tickets {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        margin: 0;
        padding: 0;
    }

    .actions {
        padding: 5px 10px !important;
        position: relative;
        margin: 0 10px !important;
    }

    a {
        color: #62abff;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: orange;
        }
    }
}

.pagination-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    border: none !important;
    padding: 0 !important;
    margin: 10px 0 !important;

    .page-btn {
        border-radius: 5px;
        border: none;
        width: 30px;
        height: 30px;
        background: white;
        cursor: pointer;
        box-shadow: var(--box-shadow);

        &:hover {
            background: #cce6ff;
        }
    }
}

.pagination-links {
    width: 100%;
    margin: 0 !important;
    padding: 5px 0 !important;
    background: #e5eff6;
    border: none !important;
    text-align: center;

    nav {
        width: 100%;
        align-items: center;
        justify-content: center;
        background: none !important;
        border: none !important;
        padding: 0;
    }

    .pagination {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;

        a {
            color: #4babea;

            &:hover {
                color: orange;
            }
        }

        .disabled {
            color: #979797;
        }

        .active {
            color: black;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
