.today-calendar, .next-calendar, .planning-calendar {
    display: flex;
    width: fit-content;
    max-width: calc(100% - 2px);
    padding: 0 !important;
    border-radius: 5px;
    overflow: auto;
    font-size: 14px;
    margin: 0 auto !important;
    box-shadow: var(--box-shadow);
    scrollbar-color: var(--h2-main-color) transparent;
    background: white;

    .horaire {
        padding: 0;
        margin: 0;
        text-align: center;
        border: none;
        border-right: 1px solid #b6b6b6;
        background: #ffffff;

        a {
            text-decoration: none;
        }

        p {
            margin: 0;
            padding: .3em .5em;
            background: var(--horaire-background);
            color: black;
            font-size: 1em;
            font-weight: bold;
        }

        &:last-child {
            border: none;
        }

        .actions {
            position: relative;
            cursor: pointer;
            min-width: 100px;
            width: calc(100% - .6em - 13px);
            box-shadow: var(--box-shadow);

            &:hover {
                .dossier {
                    width: 100%;
                }
            }
        }
    }

    .dossier, .rdv-draggable .rdv, .tache-draggable .tache {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8em;
        font-weight: bold;
        transition: width .3s ease-in-out 0s;
        text-align: center;
        border-radius: 5px;

        &.rdv {
            background: #62abff;
        }

        &.tache {
            background: #ffbb62;
        }
    }

    .passed {
        background: #d8d8d8;

        p {
            background: var(--horaire-passed);
        }
    }

    .now {
        background: #e9ffe9;

        p {
            background: var(--horaire-now);
        }
    }
}

.next-calendar {
    display: flex;
    overflow-x: auto;
    padding: 0 10px;
    background: var(--time-slot);
}

.planning-calendar {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    font-size: 12px;
    margin: .5em !important;
    width: calc(100% - 1em);

    .horaire {
        border: none;
    }

    .calendar-technicien {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            padding: .3em .5em;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
        }
    }

    .vacant {
        width: calc(90% - 2px);
        aspect-ratio: 1;
        margin: 5px 2px;
        background: #efefef;
        border-radius: 5px;
        border: 1px dotted #b1b1b1;
        position: relative;
    }

    .rdv-draggable, .tache-draggable {
        width: calc(100% - 3px);
        height: 100%;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            .rdv {
                width: 100%;
                background: #62abff;
            }

            .tache {
                width: 100%;
                background: #ffbb62;
            }
        }
    }

    .rdv-draggable {
        background: #cce6ff;
        border-left: 3px solid #62abff;
    }

    .tache-draggable {
        background: #ffebd2;
        border-left: 3px solid #ffbb62;
    }

    .drag-hover-vacant {
        filter: brightness(90%);
    }
}

.event-dossier-detail {
    width: 80%;

    .actions-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        .action {
            width: fit-content;
            padding: 5px 10px;
            border-radius: 5px;
            color: black;
            border: none;

            &.todo {
                border-left: 3px solid #ffbb62;
                background: #ffebd2;
            }
        }
    }
}

.info-rdv {
    cursor: pointer;
    padding: .2em .6em;
    margin-bottom: 2px;
    background: #3da5ef;
    border-radius: 100%;
    border: 2px solid white;
    outline: 1px solid black;
    color: white;

    &:hover {
        background: black;
    }
}
